<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>About</title>
    <link rel="shortcut icon" href="./img/weather.png" type="image/x-icon">
  </head>
  <body>
    <div class = "main-content">
      {{>header}}
          <img src="./img/Dp.jpg" alt="" class = "potrait"/>
      <p>This site was created by Aditya Agrawal. It uses WeatherStack API and MapBox.</p>
    </div>
    {{>footer}}
  </body>
</html>